.login-container {
    padding: 20px;
}

.login-form {
    min-height: 70vh;
    padding: 20px;
}

.login-title {
    margin: 16px 0;
    user-select: none;
}

.create-account {
    text-decoration: underline;
    color: #1976d2;
    cursor: pointer;
    user-select: none;
}

.not-registered {
    user-select: none;
}

.back-to-landing-page {
    user-select: none;
    margin-left: 10px;
    transition: all 0.2s linear;
    cursor: pointer;
    color: #1976d2;
}

.back-to-landing-page:hover {
    text-decoration: underline;
}